---
http_interactions:
- request:
    method: get
    uri: https://api.pingdom.com/api/3.1/checks
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTHORIZATION_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Req-Limit-Long:
      - 'Remaining: 2087990 Time until reset: 2580502'
      Req-Limit-Short:
      - 'Remaining: 11591 Time until reset: 1476'
      Server-Time:
      - '1747277503'
      X-Trace:
      - 2B39541495636BC807675A88F08918C8D51DA7B4A5968589B22897308400
    body:
      encoding: UTF-8
      string: '{"checks":[{"id":13904858,"created":1747277371,"name":"google","hostname":"google.com","resolution":1,"type":"http","ipv6":false,"verify_certificate":true,"status":"unknown"}],"counts":{"total":1,"limited":1,"filtered":1}}'
  recorded_at: Thu, 15 May 2025 02:51:43 GMT
recorded_with: VCR 3.0.3
