---
http_interactions:
- request:
    method: get
    uri: https://api.pingdom.com/api/3.1/checks/13904898
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTHORIZATION_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Req-Limit-Long:
      - 'Remaining: 2087981 Time until reset: 2576670'
      Req-Limit-Short:
      - 'Remaining: 11592 Time until reset: 1261'
      Server-Time:
      - '1747281336'
      X-Trace:
      - 2BDC8EA31018D89D20BE7E0DBD0363EF660EF38F60EE720D933CE6045100
    body:
      encoding: UTF-8
      string: '{"check":{"id":13904898,"name":"a test check","resolution":5,"sendnotificationwhendown":2,"notifyagainevery":0,"notifywhenbackup":true,"created":1747281274,"type":{"http":{"verify_certificate":true,"url":"\/","encryption":false,"port":80,"requestheaders":{"User-Agent":"Pingdom.com_bot_version_1.4_(http:\/\/www.pingdom.com\/)"}}},"hostname":"google.com","ipv6":false,"responsetime_threshold":30000,"custom_message":"","integrationids":[],"status":"unknown","tags":[],"probe_filters":[]}}'
  recorded_at: Thu, 15 May 2025 03:55:36 GMT
recorded_with: VCR 3.0.3
